/* Importar fuentes de Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");
:root {
  --color-primary-light: #164773;
  --color-secondary-light: #0b2b40;
  --color-accent-light: #1e5959;
  --color-success-light: #3b8c6e;
  --color-highlight-light: #89d99d;
  --color-white: #fff;
  --color-black: #000;

  --color-primary-transparent: rgba(22, 71, 115, 0.5);
  --color-secondary-transparent: rgba(11, 43, 64, 0.5);
  --color-accent-transparent: rgba(30, 89, 89, 0.5);
  --color-success-transparent: rgba(59, 140, 110, 0.5);
  --color-highlight-transparent: rgba(137, 217, 157, 0.5);
}

/* Variables de colores - Tema oscuro */
:root.dark {
  --color-primary-dark: #06192d;
  --color-secondary-dark: #011426;
  --color-accent-dark: #092b2b;
  --color-success-dark: #1d503d;
  --color-highlight-dark: #5f9a78;
  --color-white: #000;
  --color-black: #fff;
}

/* Estilos para dispositivos móviles con un ancho máximo de 767px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}

nav.header {
  color: var(--color-black);
  height: 50px; /*opcional*/
}

nav.header .header-content {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: var(--color-white);
  border-bottom: 1px solid rgba(41, 39, 39, 0.527);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}
.drop-shadow:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 10px #000);
}

nav.header .header-content ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4px;
}

nav.header .header-content .menu-checkbox {
  display: none;
}

nav.header .header-content .btn-menu {
  cursor: pointer;
  position: static;
}

/* ESTO ES PARA OCULTAR SIERTOS ELEMENTOS DEL NAVBAR */
.main-menu li:nth-last-child(n + 2),
.side-menu-content label {
  display: none;
}
/* FIN OCULTAR SIERTOS ELEMENTOS DEL NAVBAR */

.logo {
  display: flex;
  flex-direction: row;
}

.overlay {
  background-color: rgba(103, 103, 103, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 2;
  display: none;
}

nav.header .side-menu {
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 361px;
  width: calc(100vw - 30px);
  height: 100%;
  transform: translate3d(-370px, 0, 0);
  transition: transform 0.35s;
  z-index: 2;

  /* overflow: hidden; */
  overflow: auto;
  /* background-color: var(--color-white);     */
}

nav.header .side-menu-content ul li a {
  display: block;
  color: black;
  /* text     */
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}
nav.header .side-menu .btn-menu {
  text-align: end;
  padding: 0 0 20px;
  display: block;
}

nav.header .side-menu-content ul li a.active {
  /* background-color: #04AA6D; */
  background-color: var(--color-success-transparent);
  color: white;
}

/* Enlaces mouse-over */
nav.header .side-menu-content ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* PARA EL SUBMENU */
.submenu {
  display: none;
  margin-left: 20px;
}

.submenu-visible {
  display: block;
}
.submenu li.active {
  background-color: var(--color-accent-transparent);
  /* Estilos adicionales para resaltar la opción activa */
}
/* FIN SUBMENU */

.glass-effect {
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

nav.header .side-search {
  background-color: var(--color-white);
  padding: 0px 16px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.35s;
  z-index: 2;
  overflow: auto;
}
.header-search label {
  width: 21px;
  height: 21px;
}

.header-search {
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 20px 0 9px;
  border-bottom: 2px solid black;
}
.header-search .input-search {
  width: 250px;
}
/* PARA EL DIV DE BUSQUEDA */
.menu-search {
  display: none;
}
.input-search {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font-size: 14px;
  margin: 0px 5px;
}

nav.header .side-search-content {
  /* background-color: blanchedalmond; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0px;

  /* flex-wrap: wrap; */
}
.card-search {
  display: flex;
  padding: 12px;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(196, 192, 192, 0.568);
}
.card-search:active {
  /* transform: scale(0.95); */

  background-color: var(--color-accent-transparent);
}
.card-search label {
  align-items: center;
}
.card-search label {
  width: 42px;
  height: 42px;
  box-sizing: content-box;
}
.card-search label img {
  border: 1px solid rgba(124, 122, 122, 0.568);
  padding: 9px;
  border-radius: 40px;
}
.card-search .tite-card-search {
  font-weight: bold;
  font-size: 16px;
}
.card-search .desc-card-search {
  font-size: 12px;
  /* transform: translate(0px, -500px); */
}

.btn-clear {
  /* Estilos para el botón de eliminación */
  visibility: hidden;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 4px;
}

/* botones */
.btn {
  background-color: var(--color-black);
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-flex; /* Cambiar a "inline-flex" para permitir el uso de alineación vertical */
  align-items: center; /* Alinear los elementos verticalmente */
  justify-content: center; /* Alinear los elementos horizontalmente */
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 40px;
  border: 2px solid var(--color-black);
  font-weight: bold;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}
.btn label {
  margin-right: 5px;
  height: 1.25em; /* Ajustar la altura del icono */
}

.btn span {
  vertical-align: middle;
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 2px solid var(--color-black);
}

.btn-inv {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 2px solid var(--color-white);
}

.btn2 {
  color: var(--color-black);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 12px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.btn2:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.head {
  padding: 60px;
  text-align: center;
  /* background: #1abc9c; */
  background-image: url("../assets/image/Easy_Herbs-Header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  color: var(--color-primary-light);
  font-size: 2rem;
  background-size: 160%;
}
form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 35px;
  gap: 15px;
}

.head form input {
  border: none;
  outline: none;
  flex-grow: 1;
  background-color: transparent;
  font-size: 16px;
}

.head form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.head form button img {
  width: 20px;
  height: 20px;
}

.grid-cards {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 35px 5px;
  max-width: 1200px;
  justify-items: center;
}

.cards_item {
  border-radius: 25px;
  background-color: #ffffffb2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.cards_item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.category-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 35px 5px;
  max-width: 1200px;
  justify-items: center;
}
.category-card {
  border-radius: 25px;
  background-color: #ffffffb2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid;
}
.category-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.category-card-content {
  display: flex;
}

/* Footer */
.footer {
  width: 100%;
  background-color: white;
}

.footer .group-1 {
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 35px 0px;
  max-width: 1200px;
  margin: auto;
  display: grid;
}

.footer .group-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .group-1 .box figure img {
  width: 150px;
}
.footer .group-1 .box figure span {
  font-weight: bold;
}

.footer .group-1 .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .group-1 .box p {
  color: #0d2033;
  margin-bottom: 10px;
}

.footer .group-1 .social-media a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  background-color: white;
  text-align: center;
  transition: all 300ms ease;
}

.footer .group-2 {
  background-color: var(--color-highlight-light);
  padding: 15px 10px;
  text-align: center;
  color: black;
}

.footer .group-2 small {
  font-size: 15px;
}

/* Fin Botones */

@media (min-width: 768px) {
  body {
    /* background-color: var(--color-white); */
    /* background-color: red; */
  }
  nav.header {
    height: 60px; /*opcional*/
  }
  nav.header .header-content {
    height: 60px;
    border-bottom: 1px solid rgba(41, 39, 39, 0.527);
    justify-content: space-between;
    padding: 0px 25px;
  }
  nav.header .header-content .btn-menu {
    display: none;
  }
  nav.header .header-content ul {
    display: flex;
    align-items: center;
    gap: 15px;
    /* gap: 15px; */
  }

  /* ESTO ES PARA OCULTAR SIERTOS ELEMENTOS DEL NAVBAR */
  .main-menu li:nth-last-child(n + 2),
  .side-menu-content label {
    display: initial;
  }
  .main-menu li:last-child {
    display: none;
  }
  .main-menu li a span {
    display: none;
  }
  .head {
    background-size: 100%;
    height: 300px;
    font-size: 1.7rem;
  }
  form {
    margin-top: 50px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 850px) {
  body {
    /* background-color: green; */
    max-width: 1200px;
    margin: 0 auto;
  }
  /* nav.header .header-content{
    margin: auto;
    padding: 0 50px;
  } */
  .main-menu li a span {
    display: inline;
  }
  .head {
    background-size: 100%;
    height: 400px;
    font-size: 3rem;
  }
  form {
    margin-top: 70px;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .category-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .group-1 {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
}

@media (min-width: 1200px) {
  body {
    /* background-color: violet; */
    justify-content: center;
  }
  nav.header {
    margin: 0 auto;
    /* color: red; */
  }
  nav.header .header-content {
    /* max-width: 1200px; */
    margin: auto;
    padding: 0 12em;
  }
  .category-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
